<!DOCTYPE html>
<html lang="en">
  <head>
    <%= stylesheet_link_tag  'customer_logged', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--<%= javascript_include_tag '', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">  -->
  </head>

  <body>
    <div class="profile-header">
      <%= gravatar_for @customer %> 
      <h3> <%= @customer.name %> <h3>
    </div>


    <div class="button-group">
      <div class="profile-btn">
          <%= link_to "Pending orders", bag_path %>
      </div>

      <div class="profile-btn">
          <%= link_to "update account details", update_account_path(@customer) %>
      </div>

      <div class="profile-btn">
          <%= link_to "subscription", subscription_path(@customer), method: :post %>
      </div>

     <div class="profile-btn">
        <% if logged_in? %>
          <%= link_to "Log out", logout_path, method: "delete" %>
        <% end %>
      </div>
    </div>

  </body>

</html>






