<!DOCTYPE html>
<html lang="en">
  <body>
    
    <div class="title-container">
      <h3>Home</h3>
    </div> 
    
    
    <div>
        <%= link_to image_tag(@random_product.image_url, width: '200px', height: '200px'), saved_items_path(:product_id => @random_product.id), method: :post %>
        <%= link_to saved_items_path(:product_id => @random_product.id), method: :post do %>
        <p>Name: <%= @random_product.name %>; unit price of <%= number_to_currency(@random_product.price) %></p>
        <% end %>
        <%= button_to "+", saved_items_path(:product_id => @random_product.id), method: :post%>
    </div>
    <div>
        <h2>Popular</h2>
        <% @popular_products.each do |product| %>
        <div>
            <%= link_to image_tag(product.image_url, width: '200px', height: '200px'), saved_items_path(:product_id => product.id), method: :post %>
        </div>
        <div>
            <%= link_to  saved_items_path(:product_id => product.id), method: :post do %>
            <p>Name: <%= product.name %>; unit price of <%= number_to_currency(product.price) %></p>
            <% end %>
        </div>
        <% end%>
    </div>
    <br>
      <div>
          <%= button_to "saved list", saved_list_path(@current_saved_list), method: :get %>
      </div>
    <br>
    <div>
        <div class="title-container">
          <h3>Collections</h3>  
          <%= link_to "see all+", products_path, class: "btn btn-link btn-sm" %>  
        </div>
      
        <%= link_to "women", '/products/women', class: "btn btn-default" %>
        <%= link_to "men", '/products/men', class: "btn btn-default" %>
        <%= link_to "kids", '/products/kids', class: "btn btn-default" %>
        <%= link_to "new-ins", '/products/newins', class: "btn btn-default" %>
    </div>
    <br>

  </body>
</html>