<!DOCTYPE html>
<html lang="en">
  <body class="body">
    
    <div class="title-container">
      <p><b>Home</b></p>
    </div> 
    
    <div class="menu-buttons">
      <%= link_to "menu", '/products/women', :class => "menu-btn-main" %>
      <%= link_to "saved list", saved_list_path(@current_saved_list), :class => "menu-btn-saved" %>
      <%= link_to "search", '/products/women', :class => "menu-btn-search" %>
    </div>
    
    <div class="slide-show">
        <%= link_to image_tag(@random_product.image_url, width: '350px', height: '350px'), saved_items_random_path(:product_id => @random_product.id), method: :post %>
        <%= link_to saved_items_random_path(:product_id => @random_product.id), method: :post do %>
        <p>Name: <%= @random_product.name %>; unit price of <%= number_to_currency(@random_product.price) %></p>
        <% end %>
        <%= button_to "+", saved_items_random_path(:product_id => @random_product.id), method: :post%>
    </div>

    <hr class="solid">

    <div>
        <div class="see-all-container">
          <h3>Popular</h3> 
          <p>
            <%= link_to "see all+", products_path, :class => "btn" %>  
          </p>
        </div> 
        <div class="popular">
          <% @popular_products.each do |product| %>
          <div>
              <div class="image-popular">
                <%=link_to image_tag(product.image_url, width: '200px', height: '250px'), saved_items_path(:product_id => product.id), method: :post %>
                <%= link_to  saved_items_path(:product_id => product.id), method: :post do %>
                <p><b><%= product.name %></b> <br> <%= number_to_currency(product.price) %></p>
              </div>
              <% end %>
          </div>
          <% end%>
        </div>
    </div>
    <br>

    <hr class="solid">

    <div>
        <div class="see-all-container">
          <h3>Collections</h3>  
          <p>
            <%= link_to "see all+", products_path, :class => "btn" %>  
          </p>
        </div>

        <div class="button-for-women"> 
          <%= link_to "women", '/products/women', :class => "btn_women" %>
        </div>
        <div class="button-group-main">
          <div class="button-group-minor">
            <div class="button-for-men">
              <%= link_to "men", '/products/men',:class => "btn_men" %>
            </div>
            <br>
            <div class="button-for-kids">
              <%= link_to "kids", '/products/kids', :class => "btn_kids" %>
            </div>
          </div>
          <div class="button-for-newins">
            <%= link_to "new-ins", '/products/newins', :class => "btn_newins" %>
          </div>
        </div>    
    </div>
    <br>
    <div>
      <div class="see-all-container">
          <h3>Newsletter</h3>  
          
      </div>
      
      <p>signup with our newsletter...</p>
      <%=form_for :user, url: users_path do |f| %>
        <% if @user.errors.any? %>
          <div class="alert alert-danger">
            <% @user.errors.full_messages.each do |message| %>
              <div><%= message %></div>
            <% end %>
          </div>
        <% end %>
        <p>
          <%= f.text_field :email, placeholder: 'example@student.rmit.edu.au'%>
        </p>
        <p>
          <%= f.submit%>
        </p>
      <% end %>
    </div>

  </body>
</html>