<h1>Homepage</h1>
<br>
<h2>Collections</h2>
<%= button_to "see all+", products_path, method: :get %>
<%= button_to "women", '/products/women', method: :get %>
<%= button_to "men", '/products/men', method: :get %>
<%= button_to "kids",'/products/kids', method: :get %>
<%= button_to "new-ins", '/products/newins', method: :get %>
