<div>
  <%= image_tag(@product.image_url, width: '200px', height: '200px') %>
</div>
<div>
  <%= image_tag(@product.image_url2, width: '200px', height: '200px') %>
</div>
<div>
  <%= image_tag(@product.image_url3, width: '200px', height: '200px') %>
</div>
<h3>
 <%= @product.name %>
</h3>
<p>
  <%= @product.description %>
</p>
<p>
  <%= @product.price %>
</p>